

  .footer{
    background: #152F4F;
    color:white;
  }  
  
  #login{
      background-color: aquamarine;
  }

  #section1{
    background-color:aquamarine;
  }

  
  #section2{
    background-color:aquamarine;
  }